* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    text-align: center;
    
}

h1{
    font:35.2px Arial, Helvetica,sans-serif ;
    color: black;
    padding: 100px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
p {
    text-align: center;
    font: 17.6px Arial,Helvetica,sans-serif;
    padding: 17.6px 0px;
}

#btn {

    text-align: center;
    background: #333333;
    color: #FFFFFF;
    width: 170px;
    font-size: 17px;
    border: 2px solid white;
    font: 17.6px Arial,Helvetica,sans-serif;
    padding:17.6px 35.2px ;
    display: inline-block;/*ele vai ocupar no site apenas a sua largura e altura originais*/
    cursor: pointer;/*define o cursor do mouse como um "ponteiro" sobre determinado elemento*/
    transition-duration: 0.4s;
}
#btn:hover {
   color: #333333;
   background: white;
   
  
}

.conteiner {
    display: inline-block;
    color: #333333;
    font: 17.6px Arial, Helvetica,sans-serif;
    padding: 0px 0px 17.6px;
    margin: 20px;
    
}
