* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    text-align: center;
    
}

h1,h2{
    font:35.2px Arial, Helvetica,sans-serif ;
    color: black;
    padding: 100px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

p {
    display: inline-block;
    text-align: center;
    font: 17.6px Arial,Helvetica,sans-serif;
    padding: 17.6px 0px;
}

#btn {

    text-align: center;
    background: #333333;
    color: #FFFFFF;
    width: 170px;
    font-size: 17px;
    border: 2px white;
    font: 17.6px Arial,Helvetica,sans-serif;
    padding:17.6px 35.2px ;
    display: inline-block;/*ele vai ocupar no site apenas a sua largura e altura originais*/
    cursor: pointer;/*define o cursor do mouse como um "ponteiro" sobre determinado elemento*/
    transition-duration: 0.4s;
}
#btn:hover {
   color: #333333;
   background: white;
   
  
}

.conteiner {
    display: inline-block;
    color: #333333;
    font: 17.6px Arial, Helvetica,sans-serif;
    padding: 0px 0px 17.6px;
    margin: 20px;
    
}
main {
    
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 700px;
    text-align: center;
    align-items: center;
    background-color: #333333;
    color: #FFFFFF;
    font: 17.6px Arial, Helvetica,sans-serif;
    padding: 35.2px 17.6px 17.6px;
    
}
.menu-one {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #333333;
    font: 20.592px Arial,Helvetica,sans-serif;
    margin-top:  auto;
    padding: 20.592px 0px;
    height:200px;
    width: 352px;
}

.menu-a {
    background-image: url(https://static.pexels.com/photos/574077/pexels-photo-574077.jpeg);
    background-size: cover; /*dimensiona a imagem de fundo pelo maior tamanho da janela, seja na altura ou largura,*/
    height:250px;
    width: 300px;
}
li {
    display: flex;
    font: 17.6px Arial,Helvetica,sans-serif;
    padding: 26.4px;
}
ul{
    
    justify-content: center;
    align-items: center;
    color: #333333;
    background: #FFFFFF;
    font: 20.592px Arial,Helvetica,sans-serif;
    padding: 20.592px 0px;
    height:200px;
    width: 352px;
}
ul,li {
    justify-content: center;
    align-items: center;
    text-align: center;
}
.menu-two {
    display: inline-block;
    justify-content: center;
    align-items: center;
    color: #333333;
    background: #FFFFFF;
    font: 20.592px Arial,Helvetica,sans-serif;
    padding: 20.592px 0px;
    height:200px;
    width: 352px;
}
.menu-b {
    background-image: url(https://static.pexels.com/photos/261628/pexels-photo-261628.jpeg);
    background-size: cover;
    height:250px;
    width: 300px;
}

.menu-c {
    background-image:url(https://static.pexels.com/photos/265087/pexels-photo-265087.jpeg);
    background-size: cover; 
    height:250px;
    width: 300px;
}
.div-needs {
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #333333;
    width: 880;
    height: 92.4;


}
.one-needs {
    font: 26.4px Arial,Helvetica,sans-serif;
    padding: 26.4px 0px;
}
.needs {
    color: #333333;
    font: 17.6px Arial,Helvetica,sans-serif;
    padding: 17.6px 0px;
    line-height: 30px;
}
section { /* falo que, tudo que estiver dentro da minha section (pai) vai se comportar assim ...)*/
    
    color: #FFFFFF;
    padding: 35.2px;
    
}
#div-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 150px;
    
}

.div-contacts {
    position: relative;
    text-align: center;
    align-items: center;
    color: #FFFFFF;
    background:#2990D4 ;
}
.contacts {
    color: #FFFFFF;

}
#div-company {
    display: inline-block;
    text-align: center;
    align-items: center;
    color: #FFFFFF;
    background: #333333;
}
/*.div-box {
    width: 700px;
    
}

#div-box-two {
    display: flex;
    height: auto;
    width: auto;
}


/*#footer {
    
    background: #000000;
    color: #FFFFFF;
    width: 100%;
}*/
